body{
    background-color: rgb(69, 81, 189);
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
}

.cabecalho{
    background-color: rgb(219, 55, 26);
    color:aqua;
    font-size: 30px;
    margin-top: 0;
    padding: 10x;
    text-align: center;
}

.principal{
background-color: aqua; 
padding: 50px;
display: flex;
justify-content: center;
}
.donaldtrump{
 width: 333px;
 border-radius: 90%;   
}
.rodape{
  background-color: rgb(228, 67, 67);
  color: rgb(16, 121, 212);
  font-size: 27px;
  margin-top: 0;
  padding: 1px; text-align: center;
}
